* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: azure;
}

.newbook {
    background-color: rgb(97, 97, 97);
    color: white;
    font-weight: bold;
    border: 1px solid grey;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-style: italic;
}

button {
    padding: 5px;
    margin: 5px 0;
}

p {
    font-size: 0.8rem;
}

.container {
    display: flex;
}

.card {
    height: auto;
    width: 9vw;
    padding: 1rem;
    margin: 0.7rem;
    border: 1px solid black;
    border-radius: 2%;
    background-color: bisque;
}

.newbook {
    padding: 10px;
    border-radius: 2%;
}

.buttonbox {
    margin: 25px;
}

.modal {
    display: none;
}

.formline {
    padding: 1rem;
}